body, html, h1, h2, h3, h4, p {
    font-family:'Red Hat Display', sans-serif;
    margin: 0;
	padding: 0;
	font-size: 100%;
    vertical-align: baseline;
}

body {
    line-height: 1;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    float: right;
    width: 175px;
    height: 1425px;
    
}

.navList {
    padding-top: 10px; 
    list-style: none;
    background-color: rgb(65, 65, 65);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0 0 0 15px;
    position: fixed;
    text-align: left;
    border-left: 2px solid rgba(0, 0, 0, .2);
}

.navList li {
    margin-top: 15px;
}

.navList a {
    padding-left: 15px;
    font-size: 20px;
    color: black;
}


.navList a:hover {
    font-size: 25px;
}

.navList i {
    width: 15px;
    height: 15px;
    font-size: 17.5px;
}

.home {
    font-size: 50px;
    padding-top: 50px;
    text-align: center;
    background-color: rgba(55, 95, 95, .85);
    height: 400px;
    border-bottom: 1.5px solid rgba(0, 0, 0, .2);
}

.container {
    width: 100%;
    height: 100%;
    border-bottom: 1.5px solid rgba(0, 0, 0, .2);
}

.container h2 {
    font-size: 25px;
    text-align: center;
    padding-top: 5px;

}

.container p {
    font-size: 18.5px;
    padding-top: 10px;
    padding-left: 20px;
}



.bio {
    background-color:  rgba(55, 85, 95, .85);
    text-align: left;
    height: 130px;
}

.exp {
    background-color: rgba(55, 75, 95, .85);
}

.container h3 {     
    font-size: 18.5px;
    padding-left: 20px;
}



.container li {
    padding-top: 2.5px; 
    line-height: 1.2;
}

.education {
    background-color:  rgba(65, 65, 95, .85);
}

.education p {
    font-size:  16px;
    padding-left: 35px;
}

.projects {
    background-color:  rgba(55, 55, 85, .85);
}

.projects h4 {
    padding-bottom: 2px;
}

.projects li {
    padding-bottom: 5px;
}

.projects li:hover {
    font-size: 20px;
}

.projects a {
    font-weight: bolder;
    text-decoration: none;
    padding-left: 10px;
    color: rgb(15, 15, 15);
}

.projects a:visited {
    color: rgb(35, 35, 35);
}

.projects p {
    margin-left: 10px;
}

.projects i {
    height: 15px;
    width: 15px;
}


.connect {
    border: none;
    background-color:  rgba(85, 65, 85, .85);
    padding: 0;
    margin: 0;
}

.connect ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.connect a {
    font-size: 30px;
    color: black;
}

.connect a:hover {
    font-size: 35px;
}

.connect li {
    padding-right: 10px;
}

.connect ul {
    text-align: center;
}

.connect i {
    height: 30px;
    width: 30px;
    font-size: 30px;
}


@media only screen and (max-width: 600px) {
    
    .navbar {
        width: 125px;
        height: 1500px;
    }

    .navList a {
        font-size: 12.5px;
    }

    .navList a:hover {
        font-size: 15px;
    }

    .container {
        text-align: center;
    }

    .container ul {
        padding: 0 0 0 5px;
    
    }

    .container p {
        font-size: 15px;
    }

    .container h2 {
        font-size: 25px;
    }
    
    .container h3 {
        font-size: 20px;
    }

    .container li {
        line-height: 1.1;
        font-size: 15px;
    }

    .container h2 {
        padding-bottom: 5px;
    }

    .container h3 {
        padding: 0;
    }

    .bio {
        height: 100%;
    }

    .bio p {
        padding: 5px 0px 10px 5px;
    }

    .projects p {
        padding: 2px 0px 0px 2px;
        margin: 0;
        font-size: 15px;
    }

    .connect {
        text-align: center;
    }
    
    .connect a {
        font-size: 20px;
    }

    .connect a:hover {
        font-size: 22.5px;
    }


}