body, html, h1, h2, h3, h4, p {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ul {
    list-style: none;
}

.navbar {
    display: block;
    float: right;
    padding: 0;
    margin: 0;
    background-color: darkgrey;
    height: 1950px; 
    width: 145px;
}

.navbar ul {
    padding: 0 0 5px 5px;
}

.navList {
    padding-top: 10px; 
    list-style: none;
    position: fixed;
}

.navList li {
    margin-top: 15px;
    margin-left: 10px;
}

.navList a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-right: 15px;
}


.home {
    font-size: 50px;
    padding-top: 50px;
    height: 500px;
    text-align: center;
    background-color: lightgray;
}

.container {
    width: 100%;

}

.container h2 {
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
}

.container p {
    font-size: 18.5px;
    padding-top: 10px;
    padding-left: 20px;
}



.bio {
    background-color: grey;
    height: 200px;
}

.exp {
    background-color: lightgrey;
    height: 300px;
}
.container h3 {
    padding-top: 5px;
    font-size: 18.5px;
    padding-left: 20px;
}

.container ul {
    padding-top: 5px;
    padding-left: 35px;
}

.container li {
    padding-top: 2.5px; 
    line-height: 1.2;
}

.education {
    background-color: grey;
    height: 300px;
}

.education p {
    font-size:  16px;
    padding-left: 35px;
}

.projects {
    background-color: lightgrey;
    height: 400px;
}

.projects li {
    padding-bottom: 5px;
}

.projects a {
    font-weight: bold;
    text-decoration: none;
    padding-left: 10px;
}

.projects p {
    margin-left: 10px;
}


.connect {
    display: block;
    height: 100px;
}


@media only screen and (max-width: 600px) {
    .container ul {
        padding: 0 0 0 5px;
    
    }

    .container li {
        line-height: 1.1;
    }

    .container h2 {
        padding-bottom: 5px;
    }

    .container h3 {
        padding: 0;
    }

    .projects p {
        padding: 2px 0px 0px 2px;
        margin: 0;
        font-size: 15px;
    }
}